:root{
    --dark-background:#1f2937;
    --main-text:#f9faf8;
    --secondary-text:#e5e7eb;
    --button-color:#3882f6;
    --information-header:#1f2937;
    --quote-background:#e5e7eb;
    --quote-text:#1f2937;
    --placeholder-image:#6D747D;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}

ul{
    list-style-type: none;
    display: flex;
    
}
a{
    text-decoration: none;
    color: var(--secondary-text);
}

p{
    margin: 0px;
}

section{
    flex-grow: 1;
}

.header-links{
    display: flex;
    color: var(--secondary-text);
    justify-content: center;
    gap: 20px;
}

.header-container{
    background-color: var(--dark-background);
    padding-left: 200px;
    padding-right: 200px;
}

.header-logo{
    color: var(--main-text);
    font-family: 'Roboto';
}


.section-1{
    background-color: var(--dark-background);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-1-left{
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    align-items: flex-start;
    color: var(--secondary-text);
}

.section-1-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--placeholder-image);
    color: var(--secondary-text);
    width: 325px;
}


.hero-text{
    color: var(--main-text);
    margin: 0px;
    font-size: 32px;
}

.sign-up-button{
    background-color: var(--button-color);
    border: 0px;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    color: var(--secondary-text);
    margin-top: 10px;
}

.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#section-2-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2-bottom{
    display: flex;
    text-align: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-outline{
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    width: 125px;
    height: 125px;
    border-color: var(--button-color);
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 20px;
}

.section-2 h1{
    font-size: 30px;
}

.section-3{
    background-color: var(--quote-background);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#section-3-content{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-3 p{
    font-size: 30px;
}

#quote-author{
    align-self: flex-end;
    margin-right: 50px;
    font-size: 20px;
}

.section-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;

}

.section-4 .section-content{
    background-color: var(--button-color);
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 55px;
    padding-bottom: 55px;
}

.section-4-left{
    display: flex;
    flex-direction: column;
}

.section-4 .sign-up-button{
    border-color: var(--secondary-text);
    border: 3px solid;
    height: 40px;
    margin: 0px;
}

.section-4 h1,
.section-4 p{
    margin: 0px;
    color: var(--secondary-text);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-background);
    padding-top: 25px;
    padding-bottom: 25px;
    color: var(--secondary-text);
    font-size: 20px;
    flex-grow: 0;
}